<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Hook websocket app</title>
    <link rel="stylesheet" href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    </head>
    <body>
        <div>
            <canvas id="myCanvas" width="300" height="200"></canvas>
        </div>
        <script type="text/javascript" src="/js/chat.js">          
        </script>
    </body>
</html>